.card {
    height: 100%;
    width: 35%;

    background: #7983F6;
    color: #F7F9FC;

    border-radius: 8px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
}

.card p {
    font-size: 15px;
    font-weight: 400;
}

.card button {
    padding: 0 1rem 0 1rem;
    background-color: #7983F6;
    color: #F7F9FC;
    border: none;
}

.edit-btn:hover {
    color: #0ACF97;
}

.delete-btn:hover {
    color: #FA5C7C;
}