.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    margin: 84px 0 24px;
}

.container input {
    width: 35%;
    padding: 18px;

    background: #E3EAEF;
    border-radius: 8px;
    border: none;

    font-size: 16px;
}

.container button {
    width: 35%;
    padding: 18px;

    font-weight: 600;

    background-color: #0ACF97;
    color: #F7F9FC;

    border-radius: 8px;
    margin: 12px 0 84px;
    border: none;

    cursor: pointer;
    transition: filter 0.2s;

    font-size: 16px;
}

.container button:hover {
    filter: brightness(0.9s);
}
